header {
  background-color: #113858;
  color: #f9fcff;
  padding: 24px 32px;
}

aside {
  width: 30%;
  max-width: 540px;
  height: 90vh;
  background-color: #acc9e1;
  padding: 12px 24px;
}

.asset-item {
  background-color: #dbefff;
  padding: 16px 24px;
  margin: 0;
  margin-bottom: 16px;
}

.selected {
  background-color: #113858;
  color: white;
  animation: selected 0.4s ease;
}

@keyframes selected {
  from {
    background-color: #dbefff;
  }
  to {
    background-color: #113858;
    color: white;
  }
}

.echart {
  height: 80%;
  width: 80%;
}

.center {
  justify-content: center;
  align-items: center;
  width: 70%;
}
